ğŸ› ï¸ 1. ê¸°ë³¸ ì¤€ë¹„

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 

import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ í…ŒìŠ¤íŠ¸ìš©ìœ¼ë¡œ ë¶„ë¦¬
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# í‰ê·  ì œê³± ì˜¤ì°¨ ê³„ì‚°
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
%matplotlib

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train = pd.read_csv('data3/train.csv')
test = pd.read_csv('data3/test.csv')

Using matplotlib backend: module://matplotlib_inline.backend_inline

ğŸ§± 2. ë²”ì£¼í˜• ë³€ìˆ˜ ë³€í™˜ (factor â†’ category)

In [42]:
cat_vars = ['season', 'holiday', 'workingday', 'weather']
for col in cat_vars:
    train[col] = train[col].astype('category')
    test[col] = test[col].astype('category')

â±ï¸ 3. ì‹œê°„(datetime) ì²˜ë¦¬

In [43]:
# datetime ì»¬ëŸ¼ì„ datetime ê°ì²´ë¡œ ë³€í™˜
train['datetime'] = pd.to_datetime(train['datetime'])
test['datetime'] = pd.to_datetime(test['datetime'])

# ì‹œê°„ë§Œ ì¶”ì¶œ
train['time'] = train['datetime'].dt.strftime('%H:%M:%S')
test['time'] = test['datetime'].dt.strftime('%H:%M:%S')

ğŸ“† 4. ìš”ì¼(day) ë³€ìˆ˜ ìƒì„±

In [44]:
train['day'] = train['datetime'].dt.day_name()
test['day'] = test['datetime'].dt.day_name()

train['day'] = train['day'].astype('category')
test['day'] = test['day'].astype('category')

ğŸŒ 5. ì¼ìš”ì¼ ì—¬ë¶€ ë³€ìˆ˜ ìƒì„±

In [45]:
train['sunday'] = (train['day'] == 'Sunday').astype('category')
test['sunday'] = (test['day'] == 'Sunday').astype('category')

â° 6. ì‹œê°„(hour) ë° ì‹œê°„ëŒ€(daypart) íŒŒìƒ

In [46]:
# ì‹œê°„ ì •ìˆ˜ ì¶”ì¶œ
train['hour'] = train['datetime'].dt.hour
test['hour'] = test['datetime'].dt.hour

# ì‹œê°„ëŒ€(daypart) ì´ˆê¸°í™”
def get_daypart(hour):
    if 4 < hour < 10:
        return 1
    elif 10 <= hour < 16:
        return 2
    elif 15 < hour < 22:
        return 3
    else:
        return 4

train['daypart'] = train['hour'].apply(get_daypart).astype('category')
test['daypart'] = test['hour'].apply(get_daypart).astype('category')

# hourë„ ë²”ì£¼í˜• ì²˜ë¦¬
train['hour'] = train['hour'].astype('category')
test['hour'] = test['hour'].astype('category')

âœ… ìµœì¢… ì „ì²˜ë¦¬ëœ ë³€ìˆ˜ ì˜ˆì‹œ

In [47]:
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,time,day,sunday,hour,daypart
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,00:00:00,Saturday,False,0,4
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,01:00:00,Saturday,False,1,4
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,02:00:00,Saturday,False,2,4
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,03:00:00,Saturday,False,3,4
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,04:00:00,Saturday,False,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19:00:00,Wednesday,False,19,3
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,20:00:00,Wednesday,False,20,3
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,21:00:00,Wednesday,False,21,3
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,22:00:00,Wednesday,False,22,4
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,23:00:00,Wednesday,False,23,4

In [48]:
xtr = train[['datetime', 'season', 'holiday', 'workingday', 'weather',
       'temp', 'atemp', 'humidity', 'windspeed',
       'time', 'day', 'sunday', 'hour', 'daypart']]

ytr = train['count']

In [49]:
xtt = test[['datetime', 'season', 'holiday', 'workingday', 'weather',
       'temp', 'atemp', 'humidity', 'windspeed',
       'time', 'day', 'sunday', 'hour', 'daypart']]

ğŸ ì¶”ê°€ íŒ

In [50]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

# 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train['datetime'] = pd.to_datetime(train['datetime'])

# 3. í”¼ì²˜ ë¦¬ìŠ¤íŠ¸
num_features = ['temp', 'atemp', 'humidity', 'windspeed']
cat_features = ['season', 'holiday', 'workingday', 'weather', 'hour', 'daypart', 'sunday']

# 4. X, y ë‚˜ëˆ„ê¸°
X = train[num_features + cat_features]
y = train['count']

# 5. í›ˆë ¨/ê²€ì¦ ë°ì´í„° ë¶„í• 
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=156)

# 6. íŒŒì´í”„ë¼ì¸ êµ¬ì„±
preprocessor = ColumnTransformer([
    ('num', 'passthrough', num_features),
    ('cat', OneHotEncoder(handle_unknown='ignore'), cat_features)
])

model = Pipeline([
    ('preprocess', preprocessor),
    ('rf', RandomForestRegressor(n_estimators=100, random_state=42))
])

# 7. ëª¨ë¸ í•™ìŠµ
model.fit(X_train, y_train)

# 8. ì˜ˆì¸¡ ë° í‰ê°€
y_pred = model.predict(X_valid)
rmsle = np.sqrt(mean_squared_log_error(y_valid, y_pred))
print(f'ê²€ì¦ ë°ì´í„° RMSLE: {rmsle:.4f}')

ê²€ì¦ ë°ì´í„° RMSLE: 0.4455

In [53]:
md = model.predict(test)

In [54]:
submission = pd.DataFrame({
    'datetime' : test['datetime'],
    'count'    : md
})

submission['count'] = submission['count'].round().astype(int)

submission.to_csv('sub.csv',index=False)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X, y, cv=5, scoring='neg_root_mean_squared_error')

print(f"RMSLE í‰ê· : {-scores.mean():.4f}")

RMSLE í‰ê· : 112.5148